<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="./site/css/style.css" />
</head>
<body>
    <hi>{{caption}}</hi>
    <img src="./site/images/Screenshot (1).png" alt="Desktop Screenshot" />
</body>
</html>